.main{
    margin-left: 200px;
  }


  .card-registration {
 
    border:black solid transparent;
     border-radius: 20px;
     top: 20px;
     }

     
     .go-back-button {
      float: right;
      margin-top: -50px; 
      margin-right: 20px;
    }
    
    

     